body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
}
h2{
  font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66BFBF;
font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  margin: 10px 20px;
 text-decoration: none;
}
a:hover{
  color:#FFFFFF;
}
p{
  color: #40514E;
}
.hrow{
  margin:100px auto;
  border:dotted #EAF6F6 6px;
  border-bottom: none;

border-radius: 5px;
width: 5%;
}
.skills{
  margin:100px auto;
}
.skill-row{
  width: 50%;
margin: 100px auto ;
text-align: left;
line-height: 2;
}
.programming{
  border-radius: 50%;
  width: 25%;
float: left;
margin-right: 30px;

}

.infrastructure{
  border-radius: 50%;
width: 25%;
float: right;
margin-left: 30px;


}
.top-container{
  text-align: center;
  background-color: #EAF6F6;
position: relative;
padding-top: 100px;

}
.middle-container{
  text-align: center;
position: relative;
margin: 100px auto;
}
.intro{
  margin-left: 30%;
  width: 40%;
/* padding-bottom: 100px; */
}
.bottom-container{
  text-align: center;
background-color: #66BFBF;

padding: 30px 0;

}
.cloud-bottom{
  position: absolute;
  left:300px;
  bottom: 300px;
}
.footer-link{
  margin-bottom: 0;
}
.cloud-top{
  position: absolute;
  right:300px;
  top:50px;
}


.btn {
	box-shadow: 0 1px 0 0 #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 -1px 0 #5b6178;
}
.btn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btn:active {
	position:relative;
	top:1px;
}
